<h1 class="h1" style="text-align: center">Thêm mới khách hàng</h1> <br>
<div class="container shadow-lg">
  <form [formGroup]="createForm" (ngSubmit)="create()">
    <br>
    <div class="row no-margin">
      <div class="col-sm-6">
        <div class="form-group">
          <b class="title" class="form-label">Mã khách hàng <span
            style="color: red"> (*) </span></b>
          <input class="form-control" formControlName="customerId" type="text" value="KHS0006" width="50%"
                 disabled>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <b class="title" class="form-label">Tên khách hàng<span
            style="color: red"> (*) </span></b>
          <input class="form-control" type="text" formControlName="customerName"
                 placeholder="Nhập tên khách hàng">
          <p style="color: red"
             *ngIf="createForm.controls.customerName.hasError('required') && createForm.controls.customerName.touched">
            Không được bỏ trống</p>
          <p style="color: red"
             *ngIf="createForm.controls.customerName.hasError('min') && createForm.controls.customerName.touched">
            Nhập phải nhiều hơn 2 kí tự</p>
          <p style="color: red"
             *ngIf="createForm.controls.customerName.hasError('max') && createForm.controls.customerName.touched">
            Không được quá 20 kí tự</p>
        </div>
      </div>
    </div>

    <div class="row no-margin">
      <div class="col-sm-6">
        <div class="form-group">
          <b class="title" class="form-label">Nhóm khách hàng <span
            style="color: red"> (*) </span></b>
          <!--          <select class="custom-select">-->
          <!--            <option selected>Vui lòng chọn</option>-->
          <!--            <option value="1">Khách sỉ</option>-->
          <!--            <option value="2">Khách lẻ</option>-->
          <!--          </select>-->
          <select class="form-control" formControlName="customerType">
            <option *ngFor="let type of customerTypeList" [ngValue]="type"
                    [selected]="type.customerTypeName == createForm.controls.customerType.value.customerTypeName">{{type.customerTypeName}}</option>
          </select>
          <p style="color: red"
             *ngIf="createForm.controls.customerType.hasError('required') && createForm.controls.customerType.touched">
            Không được bỏ trống</p>
          <span class="select-arrow"></span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <b class="title" class="form-label">Địa chỉ</b>
          <input class="form-control" type="text" placeholder="Nhập địa chỉ" formControlName="customerAddress">
        </div>
      </div>
    </div>


    <div class="row no-margin">
      <div class="col-sm-6">
        <div class="form-group">
          <b class="title" class="form-label">Điện thoại <span
            style="color: red"> (*) </span></b>
          <input class="form-control" type="number" formControlName="customerPhone"
                 placeholder="Nhập số điện thoại">
          <p style="color: red"
             *ngIf="createForm.controls.customerPhone.hasError('required') && createForm.controls.customerPhone.touched">
            Không được bỏ trống</p>
          <p style="color: red"
             *ngIf="createForm.controls.customerPhone.hasError('pattern') && createForm.controls.customerPhone.touched">
            Nhập đúng định dạng</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <b class="title" class="form-label">Gmail</b>
          <input class="form-control" type="email"   placeholder="Nhập gmail">


        </div>
      </div>
    </div>


    <div class="row no-margin">
      <div class="col-sm-6">
        <div class="form-group">
          <b class="title" class="form-label">Giới tính <span
            style="color: red"> (*) </span></b>
          <select class="form-control" formControlName="customerGender">
<!--            <option value="">Vui lòng chọn</option>-->
            <option value="0">Nam</option>
            <option value="1">Nữ</option>
          </select>
          <p style="color: red"
             *ngIf="createForm.controls.customerGender.hasError('required') && createForm.controls.customerGender.touched">
            Không được bỏ trống</p>
          <span class="select-arrow"></span>


        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <b class="title" class="form-label" >Năm sinh</b>
          <input class="form-control" type="date" formControlName="customerBirthday"
                 placeholder="Nhập tuổi">
          <p style="color: red"
             *ngIf="createForm.controls.customerBirthday.hasError('required') && createForm.controls.customerBirthday.touched">
            Không được bỏ trống</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <b class="title" class="form-label" >Ghi chú</b>
        <textarea formControlName="customerNote" class="form-control" id="message-text"></textarea>
      </div>
    </div>
    <br>
    <div><p class="title" style="color: red">(*) Thông tin bắt buộc nhập.</p></div>

    <div class="row">
      <div class="col-lg-10"></div>
      <div>
        <button class="btn btn-secondary"><i class="fa fa-undo" aria-hidden="true"></i> Trở về</button>
      </div>
      <div>
        <button class="btn btn-success"><i class="fa-solid fa-circle-plus"></i> Thêm</button>
      </div>
    </div>
    <br>
  </form>
</div>
