<h1 class="text-center">Sửa thông tin thuốc với ID: <b class="text-success">{{confirmMedicine.medicineId}}</b></h1>
<form [formGroup]="medicineEditForm" *ngIf="medicineEditForm" (ngSubmit)="updateMedicine()">
  <div class="container shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col-6 my-2">
        Hình ảnh thuốc
        <img [src]="confirmMedicine.medicineImage" height="100" alt="ảnh thuốc {{confirmMedicine.medicineName}}">
      </div>
      <div class="col-6 my-2">
        Tên thuốc
        <span class="text-danger">(*)</span>
        <input class="form-control" type="text" placeholder="Tên thuốc" formControlName="medicineName">
      </div>
      <div class="col-6 my-2">
        Hoạt chất
        <span class="text-danger">(*)</span>
        <input class="form-control" type="text" placeholder="Hoạt chất" formControlName="medicineActiveIngredients">
      </div>
      <div class="col-6 my-2">
        Nhóm thuốc
        <span class="text-danger">(*)</span>
        <select class="custom-select" formControlName="medicineType">
          <option>--Chọn--</option>
          <option *ngFor="let item of medicineTypeList" [ngValue]="item">{{item.medicineTypeName}}</option>
        </select>
      </div>
      <div class="col-12 my-2">
        <hr>
      </div>
      <div class="col-4 my-2">
        Đơn vị
        <span class="text-danger">(*)</span>
        <select class="custom-select" formControlName="medicineUnit">
          <option>--Chọn--</option>
          <option *ngFor="let item of medicineUnitList" [ngValue]="item">{{item.medicineUnitName}}</option>
        </select>
      </div>
      <div class="col-4 my-2">
        Đơn vị quy đổi
        <span class="text-danger">(*)</span>
        <select class="custom-select" formControlName="medicineConversionUnit">
          <option>--Chọn--</option>
          <option *ngFor="let item of medicineConversionUnitList"
                  [ngValue]="item">{{item.medicineConversionUnitName}}</option>
        </select>
      </div>
      <div class="col-4 my-2">
        Tỉ lệ quy đổi
        <span class="text-danger">(*)</span>
        <input class="form-control" type="text" placeholder="Tỉ lệ quy đổi" formControlName="medicineConversionRate">
      </div>
      <div class="col-6 my-2">
        Giá nhập
        <span class="text-info">Đ/Hộp</span>
        <span class="text-danger"> (*)</span>
        <input class="form-control" type="text" placeholder="Giá nhập" formControlName="medicineImportPrice">
      </div>
      <div class="col-6 my-2">
        Giá nhập quy đổi
        <span class="text-info">Đ/Hộp</span>
        <span class="text-danger"> (*)</span>
        <input class="form-control" type="text" placeholder="Giá nhập quy đổi"
               value="{{confirmMedicine.medicineImportPrice/confirmMedicine.medicineConversionRate}}" disabled>
      </div>
      <div class="col-6 my-2">
        Tỉ lệ chiết khấu
        <span class="text-info">%</span>
        <span class="text-danger"> (*)</span>
        <input class="form-control" type="text" placeholder="Tỉ lệ chiết khấu" formControlName="medicineDiscount">
      </div>
      <div class="col-6 my-2">
        VAT
        <span class="text-info">%</span>
        <span class="text-danger"> (*)</span>
        <input class="form-control" type="text" placeholder="VAT" formControlName="medicineTax">
      </div>
      <div class="col-12 my-2">
        <hr>
      </div>
      <div class="col-6 my-2">
        % Lợi nhuận xuất chẵn
        <span class="text-danger">(*)</span>
        <input class="form-control" type="text" placeholder="% Lợi nhuận xuất chẵn"
               formControlName="medicineWholesaleProfit">
      </div>
      <div class="col-6 my-2">
        % Lợi nhuận xuất lẻ
        <span class="text-danger"> (*)</span>
        <input class="form-control" type="text" placeholder="% Lợi nhuận xuất lẻ"
               formControlName="medicineRetailSaleProfit">
      </div>
      <div class="col-6 my-2">
        Nhà sản xuất
        <span class="text-danger"> (*)</span>
        <input class="form-control" type="text" placeholder="Nhà sản xuất" formControlName="medicineManufacture">
      </div>
      <div class="col-6 my-2">
        Xuất xứ
        <span class="text-danger">(*)</span>
        <span class="text-danger">Không được để trống !</span>
        <select class="custom-select" formControlName="medicineOrigin">
          <option>--Chọn--</option>
          <option *ngFor="let item of medicineOriginList" [ngValue]="item">{{item.medicineOriginName}}</option>
        </select>
      </div>
      <div class="col-6 my-2">
        Công dụng
        <span class="text-danger"> (*)</span>
        <input class="form-control" type="text" placeholder="Công dụng" formControlName="medicineUsage">
      </div>
      <div class="col-6 my-2">
        Cách sử dụng
        <span class="text-danger"> (*)</span>
        <input class="form-control" type="text" placeholder="Cách sử dụng" formControlName="medicineInstruction">
      </div>
      <div class="col-6 my-2">
        Độ tuổi
        <span class="text-danger"> (*)</span>
        <input class="form-control" type="text" placeholder="Độ tuổi" formControlName="medicineAgeApproved">
      </div>
      <div class="col-3 my-2">
        <label>
          Hình ảnh
          <input type="file" style="color: orangered;" (change)="showPreview($event)">
        </label>
      </div>
      <div class="col-3 my-2">
        <img [src]="previewImage" height="100">
      </div>
      <div class="col-12 my-2">
        Mô tả
        <textarea class="form-control" placeholder="Mô tả" formControlName="medicineDescription">
                </textarea>
      </div>
      <div class="col-12 my-2">
        <h5 class="text-danger">(*) Thông tin bắt buộc</h5>
      </div>
      <div class="col-12 my-2 d-flex justify-content-center">
        <button class="btn btn-dark mx-5" type="reset">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-x-octagon" viewBox="0 0 16 16">
            <path
              d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
          Reset
        </button>
        <button class="btn btn-secondary mx-5"><i class="fa fa-undo" aria-hidden="true"></i> Trở về</button>
        <button class="btn btn-success mx-5"><i class="fa-solid fa-circle-plus"></i> Thêm</button>
      </div>
    </div>
  </div>
</form>
