<div class="col-lg-11 mx-auto">
  <fieldset style="border: 1px groove black">
    <legend class="w-auto"> Bộ Lọc</legend>
    <div class="col-lg-6" style="float: left">
      <div class="input-group mb-3">
        <select class="form-control">
          <option> Mã Nhà Cung Cấp :</option>
          <option> Tên Nhà Cung Cấp</option>
          <option>Địa Chỉ Nhà Cung Cấp</option>
          <option>Số Điện Thoại</option>
        </select>
        <input aria-describedby="basic-addon2" class="form-control"
               placeholder=" Bạn Muốn Tìm Kiếm "
               type="text">

      </div>
    </div>
    <div class="col-lg-4" style="float: right">
      <div class="input-group mb-3">
        <span class="center-s"> Sắp Xếp :</span>
        <select class="form-control">
          <option> Mã Nhà Cung Cấp</option>
          <option> Tên Nhà Cung Cấp</option>
          <option> Địa Chỉ Nhà Cung Cấp</option>
          <option> Số Điện Thoại</option>
        </select>
        <button class="btn btn-primary pd-l"><i aria-hidden="true" class="fa fa-search"></i> Lọc kết quả
        </button>
      </div>
    </div>
  </fieldset>
</div>

<div class="col-lg-12 pd-t">
  <div class="col-lg-11 mx-auto" style="clear: both">
    <div *ngIf="listSupplier.length == 0 ">
      <fieldset style="border: 1px groove black">
        <legend class="w-auto">Hệ thống báo cáo</legend>

        <div class="d-flex justify-content-center my-5">
          <h4 style="font-weight: bold"> CHƯA CÓ NHÀ CUNG CẤP NÀO CẢ </h4>
        </div>
      </fieldset>
    </div>

    <fieldset style="border: 1px groove black">
      <legend class="w-auto">ㅤHệ thống ㅤ</legend>

      <div class="d-flex justify-content-center my-3">
        <h4 style="font-weight: bold"> Thông Tin Nhà Cung Cấp</h4>
      </div>

      <table class="table table-hover table-triped " style="clear: both">
        <tr class="table-success">
          <th>STT</th>
          <th>Mã Nhà Cung Cấp</th>
          <th>Tên Nhà Cung Cấp</th>
          <th> Địa Chỉ</th>
          <th> Số Điện Thoại</th>
          <th>Email</th>
        </tr>
        <tr (click)="getValueSupplier(item)" *ngFor="let item  of listSupplier ; index as i ">
          <td>{{i + 1}}</td>
          <td>{{item.supplierId}}</td>
          <td>{{item.supplierName}}</td>
          <td>{{item.supplierAddress}}</td>
          <td>{{item.supplierPhone}}</td>
          <td>{{item.supplierEmail}}</td>
        </tr>
      </table>
    </fieldset>
    <div>
      <div style="float: left">

        <button class="btn btn-info" type="button">
          <a [routerLink]="['supplier/detail',valueSupplier.supplierId]">Thông Tin Chi Tiết</a>
<!--          <i aria-hidden="true" class="fa fa-address-card"></i>-->

        </button>
      </div>
      <div id="btn" style="float: right ">
        <button class="btn btn-warning">
          <!--          <i aria-hidden="true" class="fa fa-pencil"></i>-->
          <a [routerLink]="['edit/',valueSupplier.supplierId]">Sửa</a>
        </button>
        <button class="btn btn-danger mgl" data-target="#staticBackdrop" data-toggle="modal">
          <i class="fa-solid fa-circle-xmark"></i> Xoá
        </button>
        <button class="btn btn-success mgl">
          <a [routerLink]="['supplier/create']">
            <i class="fa-solid fa-circle-plus"></i> Thêm
          </a>

        </button>
        <button class="btn btn-secondary mgl">
          <i aria-hidden="true" class="fa fa-undo"></i> Trở về
        </button>
      </div>
    </div>
  </div>
  <div class="mx-auto text-center" style="clear: both">
    <nav class="blog-pagination d-flex justify-content-center py-3">
      <ul class="pagination">
        <li class="page-item px-1">
          <a (click)="previousPage()" [class.disabled]="currentPage<=0" class="page-link">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link">
            <span>{{currentPage + 1}}</span>
            <span>/</span>
            <span>{{totalPages}}</span>
          </a>
        </li>
        <li class="page-item px-1">
          <a class="page-link" (click)="nextPage()" [class.disabled]="currentPage+1>=totalPages">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>


<!--modal delete -->
<div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" data-backdrop="static"
     data-keyboard="false"
     id="staticBackdrop" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Xác Nhận Xóa Nhà Cung Cấp </h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <p>Bạn Chắc Chắn Muốn Xóa
            <span style="color: red ">{{valueSupplier.supplierName}}</span>
          </p>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" type="button">Hoàn Tác</button>
        <button (click)="confirmDelete()" class="btn btn-danger" data-dismiss="modal" type="button">
          Xác Nhận
        </button>
      </div>
    </div>
  </div>
</div>
